# Default ignored files
/../../../:HibernateByMaven/.idea/shelf/
/../../../:HibernateByMaven/.idea/workspace.xml
# Environment-dependent path to Maven home directory
/../../../:HibernateByMaven/.idea/mavenHomeManager.xml
